<main role="main">

<h1>Your Orders: <%= current_user.products.count %></h1>

<table class='table table-striped table-dark'>
  <thead>
    <tr>
       <th scope="col">Order Date:</th>
  
      <th scope="col">Status</th>
          
      <th scope="col">Balance</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @products.each do |product| %>
      <tr>
        <td scope="row"><%= product.created_at.strftime("%d-%b-%Y") %></td>
      
        <td scope="row"><%= product.status %></td>
     
           
        <td scope="row"><font color="red"><strong><%= number_to_currency(product.defbalance, :unit => "E", :separator => ".", :delimiter => ",") %></font></strong></td>


        <td><%= link_to 'Show', product, :class => 'btn-success button-xs' %></td>
        
        <% if current_user.admin? %>
        <td><%= link_to 'Edit', edit_product_path(product), :class => 'btn-primary button-xs' %></td>
        <td><%= link_to 'Destroy', product, method: :delete, :class => 'btn-danger button-xs', data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


</main>
